{% load static %}
<div class="right">
  <div class="top">
    <button class="menu-btn">
      <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
      <span class="material-icons-sharp {{ theme_toggler_white }}">light_mode</span>
      <span class="material-icons-sharp {{ theme_toggler_dark }}">dark_mode</span>
    </div>
    <div class="profile">
      <div class="info">
        <p>Привет, <b>Никита</b></p>
        <small class="text-muted">Admin</small>
      </div>
      <div class="profile-photo">
        <img src="{% static 'dashboard/img/profile/man-profile.png' %}" alt="profile photo">
      </div>
    </div>
  </div>
  <!-- END TOP -->
  <div class="recent-updates">
    <h2>Последние события</h2>
    <div class="updates">
      {% for notification in notifications %}
      <div class="raw-update update">
        <div class="profile-photo">
          <img src="{% static 'dashboard/img/profile/bot-profile.png' %}" alt="profile photo">
        </div>
        <div class="massage">
          <p>{{ notification.issue }}</p>
          <small class="text-muted">{{ notification.datetime }}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- END OF RECENT UPDATES -->
  <div class="analitics">
    <h2>Аналитика смены</h2>
    <div class="item sl-first-line">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h3>SL первая линия</h3></li>
            <li><h5>Количество ТТ за день:</h5></li>
            <li><h5>Количество ТТ принятых за 15 минут:</h5></li>
            <li><h5>Количество ТТ принятых после 15 минут:</h5></li>
            <li><h5>Нагрузка относительно нормы:</h5></li>
            <li><h5>Нагрузка относительно прошлого дня:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_sl"><h5>{{ dashboard_data.sl.first_line.dayly_sl }}%</h5></li>
            <li class="num_issues"><h5>{{ dashboard_data.sl.first_line.num_issues }}</h5></li>
            <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.first_line.num_worked_before_deadline }}</h5></li>
            <li class="num_worked_after_deadline"><h5>{{ dashboard_data.sl.first_line.num_worked_after_deadline }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.first_line.rating_to_nominal }}%</h5></li>
            <li class="rating_to_comparison"><h5>{{ dashboard_data.analytics.sl.first_line.rating_to_comparison }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item sl-vip-line">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h3>SL vip линия</h3></li>
            <li><h5>Количество ТТ за день:</h5></li>
            <li><h5>Количество ТТ принятых за 15 минут:</h5></li>
            <li><h5>Количество ТТ принятых после 15 минут:</h5></li>
            <li><h5>Нагрузка относительно нормы:</h5></li>
            <li><h5>Нагрузка относительно прошлого дня:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_sl"><h5>{{ dashboard_data.sl.vip_line.dayly_sl }}%</h5></li>
            <li class="num_issues"><h5>{{ dashboard_data.sl.vip_line.num_issues }}</h5></li>
            <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.vip_line.num_worked_before_deadline }}</h5></li>
            <li class="num_worked_after_deadline"><h5>{{ dashboard_data.sl.vip_line.num_worked_after_deadline }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.vip_line.rating_to_nominal }}%</h5></li>
            <li class="rating_to_comparison"><h5>{{ dashboard_data.analytics.sl.vip_line.rating_to_comparison }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item sl-general">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h3>SL общий</h3></li>
            <li><h5>Количество ТТ за день:</h5></li>
            <li><h5>Количество ТТ принятых за 15 минут:</h5></li>
            <li><h5>Количество ТТ принятых после 15 минут:</h5></li>
            <li><h5>Нагрузка относительно нормы:</h5></li>
            <li><h5>Нагрузка относительно прошлого дня:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_sl"><h5>{{ dashboard_data.sl.general.dayly_sl }}%</h5></li>
            <li class="num_issues"><h5>{{ dashboard_data.sl.general.num_issues }}</h5></li>
            <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.general.num_worked_before_deadline }}</h5></li>
            <li class="num_worked_after_deadline"><h5>{{ dashboard_data.sl.general.num_worked_after_deadline }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.general.rating_to_nominal }}%</h5></li>
            <li class="rating_to_comparison"><h5>{{ dashboard_data.analytics.sl.general.rating_to_comparison }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item mttr">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h3>MTTR:</h3></li>
            <li><h5>Количество закрытых ТТ:</h5></li>
            <li><h5>Нагрузка относительно нормы:</h5></li>
            <li><h5>Нагрузка относительно прошлого дня:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="average_mttr_tech_support"><h5>{{ dashboard_data.mttr.average_mttr_tech_support }} мин.</h5></li>
            <li class="num_issues"><h5>{{ dashboard_data.mttr.num_issues }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.mttr.rating_to_nominal }}%</h5></li>
            <li class="rating_to_comparison"><h5>{{ dashboard_data.analytics.mttr.rating_to_comparison }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item flr">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h3>FLR:</h3></li>
            <li><h5>Количество первичных ТТ:</h5></li>
            <li><h5>Количество закрытых без привлечения других отделов:</h5></li>
            <li><h5>Нагрузка относительно нормы:</h5></li>
            <li><h5>Нагрузка относительно прошлого дня:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="level"><h5>{{ dashboard_data.flr.level }}%</h5></li>
            <li class="num_primary_issues"><h5>{{ dashboard_data.flr.num_primary_issues }}</h5></li>
            <li class="num_issues_closed_independently"><h5>{{ dashboard_data.flr.num_issues_closed_independently }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.flr.rating_to_nominal }}%</h5></li>
            <li class="rating_to_comparison"><h5>{{ dashboard_data.analytics.flr.rating_to_comparison }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'dashboard/js/right.js' %}"></script>
</div>