{% load static %}
<div class="right">
  <div class="top">
    <button class="menu-btn">
      <span class="_icon-menu material-icons-sharp"></span>
    </button>
    <div class="theme-toggler">
      <span class="_icon-light_mode material-icons-sharp {{ theme_toggler_white }}"></span>
      <span class="_icon-dark_mode material-icons-sharp {{ theme_toggler_dark }}"></span>
     </div>
    <div class="profile">
      <div class="info">
        <p>Добрый день, <b>{{request.user.first_name}}</b></p>
        <small class="text-muted">{{request.user.profile.job_title}}</small>
      </div>
      <div class="profile-photo">
        {% if request.user.profile.profile_picture %}
          <img src="{{ request.user.profile.profile_picture.url }}" height=100 width=100><br><br>
        {% else %}
          <img src="{% static 'dashboard/img/profile/user.png' %}" alt="profile photo">
        {% endif %}
      </div>
    </div>
  </div>
  <!-- END TOP -->
  <div class="recent-updates">
    <h2>Последние события</h2>
    <div class="updates">
      <div class="update">
        <p id="raw-notifications">{{ notifications }}</p>
      </div>
    </div>
  </div>
  <!-- END OF RECENT UPDATES -->
  <div class="analitics">
    <h2>Аналитика смены</h2>
    <div class="accordion">
      <div class="item sl-general">
        <!-- <div class="icon">
          <span class="material-icons-sharp">donut_small</span>
        </div> -->
        <div class="right">
          <div class="info">
            <ul>
              <li><h5>Ежедневный SL:</h5></li>
              <li><h5>Недельный SL:</h5></li>
              <li><h5>Месячный SL:</h5></li>
              <li><h5>Количество ТТ за сутки:</h5></li>
              <li><h5>Количество ТТ принятых вовремя за сутки:</h5></li>
              <li><h5>Дневная нагрузка относительно нормы:</h5></li>
            </ul>
            <small>Последние 24 часа</small>
          </div>
          <div class="count-info">
            <ul>
              <li class="dayly_sl"><h5>{{ dashboard_data.sl.general.dayly_sl }}%</h5></li>
              <li class="weekly_sl"><h5>{{ dashboard_data.sl.general.weekly_sl }}%</h5></li>
              <li class="mountly_sl"><h5>{{ dashboard_data.sl.general.mountly_sl }}%</h5></li>
              <li class="num_issues"><h5>{{ dashboard_data.sl.general.num_issues }}</h5></li>
              <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.general.num_worked_before_deadline }}</h5></li>
              <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.general.rating_to_nominal }}%</h5></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel hide">
      <div class="item sl-first-line">
        <!-- <div class="icon">
          <span class="material-icons-sharp">donut_small</span>
        </div> -->
        <div class="right">
          <div class="info">
            <ul>
              <li><h5>Ежедневный SL westcall линия:</h5></li>
              <li><h5>Недельный SL westcall линия:</h5></li>
              <li><h5>Месячный SL westcall линия:</h5></li>
              <li><h5>Количество ТТ за день:</h5></li>
              <li><h5>Количество ТТ принятых вовремя за сутки:</h5></li>
              <li><h5>Дневная нагрузка относительно нормы:</h5></li>
            </ul>
            <small>Последние 24 часа</small>
          </div>
          <div class="count-info">
            <ul>
              <li class="dayly_sl"><h5>{{ dashboard_data.sl.first_line.dayly_sl }}%</h5></li>
              <li class="weekly_sl"><h5>{{ dashboard_data.sl.first_line.weekly_sl }}%</h5></li>
              <li class="mountly_sl"><h5>{{ dashboard_data.sl.first_line.mountly_sl }}%</h5></li>
              <li class="num_issues"><h5>{{ dashboard_data.sl.first_line.num_issues }}</h5></li>
              <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.first_line.num_worked_before_deadline }}</h5></li>
              <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.first_line.rating_to_nominal }}%</h5></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item sl-vip-line">
        <!-- <div class="icon">
          <span class="material-icons-sharp">donut_small</span>
        </div> -->
        <div class="right">
          <div class="info">
            <ul>
              <li><h5>Ежедневный SL vip линия:</h5></li>
              <li><h5>Недельный SL vip линия:</h5></li>
              <li><h5>Месячный SL vip линия:</h5></li>
              <li><h5>Количество ТТ за сутки:</h5></li>
              <li><h5>Количество ТТ принятых вовремя за сутки:</h5></li>
              <li><h5>Дневная нагрузка относительно нормы:</h5></li>
            </ul>
            <small>Последние 24 часа</small>
          </div>
          <div class="count-info">
            <ul>
              <li class="dayly_sl"><h5>{{ dashboard_data.sl.vip_line.dayly_sl }}%</h5></li>
              <li class="weekly_sl"><h5>{{ dashboard_data.sl.vip_line.weekly_sl }}%</h5></li>
              <li class="mountly_sl"><h5>{{ dashboard_data.sl.vip_line.mountly_sl }}%</h5></li>
              <li class="num_issues"><h5>{{ dashboard_data.sl.vip_line.num_issues }}</h5></li>
              <li class="num_worked_before_deadline"><h5>{{ dashboard_data.sl.vip_line.num_worked_before_deadline }}</h5></li>
              <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.sl.vip_line.rating_to_nominal }}%</h5></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="item mttr">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h5>Ежедневный MTTR:</h5></li>
            <li><h5>Недельный MTTR:</h5></li>
            <li><h5>Месячный MTTR:</h5></li>
            <li><h5>Количество закрытых ТТ за сутки:</h5></li>
            <li><h5>Дневная нагрузка относительно нормы:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_mttr"><h5>{{ dashboard_data.mttr.average_mttr_tech_support }} мин.</h5></li>
            <li class="weekly_mttr"><h5>{{ dashboard_data.mttr.weekly_average_mttr_tech_support }} мин.</h5></li>
            <li class="mountly_mttr"><h5>{{ dashboard_data.mttr.mountly_average_mttr_tech_support }} мин.</h5></li>
            <li class="num_issues"><h5>{{ dashboard_data.mttr.num_issues }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.mttr.rating_to_nominal }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item flr">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h5>Ежедневный FLR:</h5></li>
            <li><h5>Недельный FLR:</h5></li>
            <li><h5>Месячный FLR:</h5></li>
            <li><h5>Количество первичных ТТ за сутки:</h5></li>
            <li><h5>Количество закрытых ТТ самостоятельно за сутки:</h5></li>
            <li><h5>Дневная нагрузка относительно нормы:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_flr"><h5>{{ dashboard_data.flr.level }}%</h5></li>
            <li class="weekly_flr"><h5>{{ dashboard_data.flr.weekly_level }}%</h5></li>
            <li class="mountly_flr"><h5>{{ dashboard_data.flr.mountly_level }}%</h5></li>
            <li class="num_primary_issues"><h5>{{ dashboard_data.flr.num_primary_issues }}</h5></li>
            <li class="num_issues_closed_independently"><h5>{{ dashboard_data.flr.num_issues_closed_independently }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.flr.rating_to_nominal }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item aht">
      <!-- <div class="icon">
        <span class="material-icons-sharp">donut_small</span>
      </div> -->
      <div class="right">
        <div class="info">
          <ul>
            <li><h5>Ежедневный AHT:</h5></li>
            <li><h5>Недельный AHT:</h5></li>
            <li><h5>Месячный AHT:</h5></li>
            <li><h5>Поступило ТТ за сутки:</h5></li>
            <li><h5>Дневная нагрузка относительно нормы:</h5></li>
          </ul>
          <small>Последние 24 часа</small>
        </div>
        <div class="count-info">
          <ul>
            <li class="dayly_aht"><h5>{{ dashboard_data.aht.dayly_aht }}%</h5></li>
            <li class="weekly_aht"><h5>{{ dashboard_data.aht.weekly_aht }}%</h5></li>
            <li class="mountly_aht"><h5>{{ dashboard_data.aht.mountly_aht }}%</h5></li>
            <li class="issues_received"><h5>{{ dashboard_data.aht.issues_received }}</h5></li>
            <li class="rating_to_nominal"><h5>{{ dashboard_data.analytics.flr.rating_to_nominal }}%</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'dashboard/js/right.js' %}"></script>
</div>