<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clamp</title>
    <!-- MATERIAL CDN -->
    {% load static %}
    <!-- STYLESHEET -->
    <link rel="shortcut icon" href="{% static 'dashboard/img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'dashboard/css/iconfont.css' %}">    
    <link rel="stylesheet" href="{% static 'dashboard/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
  </head>
  <body class="{{ body_class }}">
    <div class="wrapper">
      <div class="error">
        <div class="error__container">
          <div class="error__card">
            <h2 class="error__title">404</h2>
            <h4 class="error__subtitle">Ой! Стараница не найдена</h4>
            <div class="error__img">
              <img class="error__pic" src="{% static 'dashboard/img/404-crab.webp' %}" alt="">
            </div>
            <a class="error__link" href="{% url 'dashboard' %}">Вернуться на главную страницу</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.onload = function() {
        returnedNotificationSettings = JSON.parse(document.querySelector("#raw-returned-notification-settings").textContent);
        burnedNotificationSettings = JSON.parse(document.querySelector("#raw-burned-notification-settings").textContent);
        document.querySelector("#raw-returned-notification-settings").remove();
        document.querySelector("#raw-burned-notification-settings").remove();

      };
    </script>
  </body>
</html>