<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clamp</title>
    <!-- MATERIAL CDN -->
    {% load static %}
    <!-- STYLESHEET -->
    <link rel="shortcut icon" href="{% static 'dashboard/img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'dashboard/css/iconfont.css' %}">    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
  </head>
  <body class="{{ body_class }}">
    <p id='raw-burned-notification-settings' style="display: none;">{{ burned_notification_settings }}</p>
    <p id="raw-returned-notification-settings" style="display: none;">{{ returned_notification_settings }}</p>
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script> 
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
      const options = {year: 'numeric', month: 'numeric', day: 'numeric',
                       hour: 'numeric', minute: 'numeric', second: 'numeric',
                       timezone: 'Moscow', hour12: false};
      const img_link = "{% static 'dashboard/img/profile/bot-profile.png' %}";
      const minSuccessSL = {{ ratings.service_level }};
      const maxSuccessMTTR = {{ ratings.mttr_level }};
      const minSuccessFLR = {{ ratings.flr_level }};
      const groupStep = '{{ names.step_name_on_group }}';
      const workerStep = '{{ names.step_name_on_worker }}';
      const notificationAudio = new Audio("{% static 'dashboard/audio/notification.wav' %}");
      const alarmAudio = new Audio("{% static 'dashboard/audio/alarm.wav' %}");
      let returnedNotificationSettings = [];
      let burnedNotificationSettings = [];      
    </script>
    <div class="container" id="body-container">
      {% include 'dashboard/includes/navigation.html' %}
      {% block content %}
      {% endblock %}
      {% include 'dashboard/includes/right.html'%}
    </div>
    <script src="{% static 'dashboard/js/base.js' %}"></script>
    <script>
      window.onload = function() {
        returnedNotificationSettings = JSON.parse(document.querySelector("#raw-returned-notification-settings").textContent);
        burnedNotificationSettings = JSON.parse(document.querySelector("#raw-burned-notification-settings").textContent);
        document.querySelector("#raw-returned-notification-settings").remove();
        document.querySelector("#raw-burned-notification-settings").remove();

      };
    </script>
  </body>
</html>
