{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
  <main>
    <h1>Мониторинг показателей смены</h1>
    <div class="input-group">
      <form id="form-date" action="#" method="post">
        <div class="input-date">
          {% csrf_token %}
          <input type="date" class='date-calendar' id="date" data-date="" data-date-format="DD MM YYYY" value="{{ dates.chosen_date|date:"Y-m-d" }}">
          <button type="submit" class='submit-date-calendar'>Применить</button>
        </div>
      </form>
      <div class="filter">
        <ul class="filtres-list">
          <li data-f="all" class="filter-text active-filter">Все</li>
          <li data-f="day" class="filter-text">День</li>
          <li data-f="week" class="filter-text">Неделя</li>
          <li data-f="mounth" class="filter-text">Месяц</li>
        </ul>
      </div>
    </div>
    <div class="insights">
      <div class="daily-sl card day">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>WESTCALL линия</h3>
            <h3>Ежедневный SL</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" id="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.dayly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF daily-sl -->
      <div class="weekly-sl card week">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>WESTCALL линия</h3>
            <h3>Недельный SL</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.weekly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF weekly-sl -->
      <div class="monthly-sl card mounth">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>WESTCALL линия</h3>
            <h3>Месячный SL</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.mountly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF monthly-sl -->
      <div class="daily-sl-vip card day">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP линия</h3>
            <h3>Ежедневный SL</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.dayly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF daily-sl-vip -->
      <div class="weekly-sl-vip card week">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP линия</h3>
            <h3>Недельный SL</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.weekly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF weekly-sl-vip -->
      <div class="monthly-sl-vip card mounth">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP линия</h3>
            <h3>Месячный SL</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.mountly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF monthly-sl-vip -->
      <div class="daily-flr card day">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Ежедневный FLR</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.flr.level }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 3 часа</small>
      </div>
      <!-- END OF daily-flr -->
      <div class="weekly-flr card week">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Недельный FLR</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.flr.weekly_level }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF weekly-flr -->
      <div class="mountly-flr card mounth">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Месячный FLR</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.flr.mountly_level }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF mountly-flr -->
      <div class="daily-mttr card day">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Ежедневный MTTR</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.mttr.average_mttr_tech_support }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF daily-mttr -->
      <div class="weekly-mttr card week">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Недельный MTTR</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.mttr.weekly_average_mttr_tech_support }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF weekly-mttr -->
      <div class="mountly-mttr card mounth">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Месячный MTTR</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.mttr.mountly_average_mttr_tech_support }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF mountly-mttr -->
      <div class="daily-aht card day">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Ежедневный AHT</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.aht.dayly_aht }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF daily-aht -->
      <div class="weekly-aht card week">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Недельный AHT</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.aht.weekly_aht }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF weekly-aht -->
      <div class="mountly-aht card mounth">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Месячный AHT</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.aht.mountly_aht }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF mountly-aht -->
    </div>
  </main>
  <!-- END OF MAIN -->
  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}