{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
  <main>
    <h1>Мониторинг показателей смены</h1>
    <form id="form-date" action="#" method="post">
      <div class="input-date">
        {% csrf_token %}
        <input type="date" class='date-calendar' id="date" data-date="" data-date-format="DD MM YYYY" value="{{ dates.chosen_date|date:"Y-m-d" }}">
        <button type="submit" class='submit-date-calendar'>Применить</button>
      </div>
    </form>
    <div class="insights">
      <div class="daily-sl">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Первая линия</h3>
            <h3>Ежедневный SL</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" id="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.dayly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF daily-sl -->
      <div class="weekly-sl">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Первая линия</h3>
            <h3>Недельный SL</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.weekly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF weekly-sl -->
      <div class="monthly-sl">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Первая линия</h3>
            <h3>Месячный SL</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.first_line.mountly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF monthly-sl -->
      <div class="daily-sl-vip">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP — линия</h3>
            <h3>Ежедневный SL</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.dayly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF daily-sl-vip -->
      <div class="weekly-sl-vip">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP — линия</h3>
            <h3>Недельный SL</h3>
            <h1>{{ dates.monday_this_week|date:"d.m" }} - {{ dates.sunday_this_week|date:"d.m" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.weekly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF weekly-sl-vip -->
      <div class="monthly-sl-vip">
        <span class="_icon-favorite_border material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>VIP — линия</h3>
            <h3>Месячный SL</h3>
            <h1>{{ dates.chosen_date|date:"F" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.sl.vip_line.mountly_sl }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 15 минут</small>
      </div>
      <!-- END OF monthly-sl-vip -->
      <div class="daily-flr">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Ежедневный FLR</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.flr.level }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последние 3 часа</small>
      </div>
      <!-- END OF daily-flr -->
      <div class="daily-mttr">
        <span class="_icon-signal_cellular_alt material-icons-sharp"></span>
        <div class="middle">
          <div class="lef">
            <h3>Ежедневный MTTR</h3>
            <h1>{{ dates.chosen_date|date:"d.m.Y" }}</h1>
          </div>
          <div class="progress">
            <svg>
              <circle class="circle" cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="number">
              <h2>{{ dashboard_data.mttr.average_mttr_tech_support }}</h2>
            </div>
          </div>
        </div>
        <small class="text-muted">Отчет за последний час</small>
      </div>
      <!-- END OF daily-flr -->
    </div>
  </main>
  <!-- END OF MAIN -->
  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}