<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
	<title>Document</title>
</head>
<body>
	<div class="right" style="margin: 0 auto; width: 32rem">
		<div class="recent-updates">
  	  <h2>Последние события</h2>
  	  <div class="updates">
  	  </div>
  	</div>
  </div>
  <script>  
    var url = 'ws://' + window.location.hostname + ':80/ws/log/';
    var socket = new WebSocket(url);
    var notification_box = document.querySelector('.right .recent-updates .updates');

    socket.onmessage = function(event){
      var notify = event.data;
      createNotify(notify)

    }

    function createNotify(eventText) {
      var update_item = document.createElement('div');
      update_item.className = "update";
    
      var img_box = document.createElement('div');
      img_box.className = "profile-photo";
      img = document.createElement('img');
      img.src = "{% static 'dashboard/img/profile/bot-profile.png' %}"

      var message = document.createElement('div');
      message.className = "message";
    
      var text = document.createElement('p');
      var name_hendler = document.createElement('b');
      name_hendler.innerText = 'Мониторинг: '
      text.innerText = eventText;
      var time = document.createElement('small');
      time.className = "text-muted";
  
      message.appendChild(text);
      message.appendChild(time);
      img_box.appendChild(img)
      update_item.appendChild(img_box);
      update_item.appendChild(message);
      notification_box.insertBefore(update_item, notification_box.firstElementChild);
      notification_box.scrollTop = notification_box.scrollHeight; 
    }
	</script>		
</body>
</html>
